
# --------------------------------------------------------------------------
# OUR ignores.
# --------------------------------------------------------------------------
# Ignorar la carpeta "build" dentro de la carpeta "Robot15"
Robot15/build/*

# Ignorar la carpeta "build" dentro de la carpeta "Robot18"
Robot18/build/*

# Ignorar la carpeta "build" dentro de la carpeta "Morelia/Robot15"
Morelia/Robot15/build/*

# Ignorar la carpeta "build" dentro de la carpeta "Morelia/Robot24"
Morelia/Robot24/build/*

#.gitignore